@import "../../styles/variables.scss";

.options__container {
  padding: 23px 32px;
  background-color: $pure__white;

  .options__header {
    margin-bottom: 22px;

    .options__categories {
      font-weight: $ft__w__bold;
      font-size: $ft__16;
      color: $dark__text__color;
    }
    .options__Clear {
      font-weight: $ft__w__medium;
      font-size: $ft__14;
      color: $main__orange;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  .options__btns {
    column-gap: 15px;
    margin-bottom: 22px;

    .options__btn {
      padding: 6px;
      border-radius: 20px;
      background-color: transparent;
      border: none;
      outline: none;
      color: $dark__text__color;
      font-size: $ft__14;
      font-weight: $ft__w__regular;

      .btn__word{
        text-align: center;
        flex: 1;
        padding: 0 8px;
        min-width: 70px;
      }

      .options__icon {
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background-color: #EAEAEA;
        color: black;
      }

      &.active {
        color: $pure__white;
        background-color: $main__orange;
        box-shadow: 0px 8px 20px #F08F2040;

        .options__icon{
          background-color: $pure__white;
          color: black;
        }
      }
    }
  }

  .options__sort {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    margin-bottom: 37px;
    
    .options__sort__title {
      color: #474753;
      font-size: $ft__16;
      font-weight: $ft__w__bold;
      margin-bottom: 19px;
    }

    .options__checkbox {
      border-bottom: 1px solid rgb(112, 112, 112, .12);

      &:not(:first-child) {
        padding: 20px 0;
      }

      &:first-child {
        padding-bottom: 20px;
      }

      .label {
        color: $dark__text__color;
        font-weight: $ft__w__medium;
        font-size: $ft__12;
      }

      .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        border: 1px solid #9E9EA0;
        border-radius: 2px;

        .checked__icon {
          display: none;
        }
      }

      .input {

        &:checked + .checkbox {
          background-color: #4E22D0;
          border: 0.5px solid #FFFFFF;

          .checked__icon {
            display: block;
            color: $pure__white;
          }
        }

      }
    }
    
  }

  .submit__form__btn {
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    background-color: $main__orange;
    color: $pure__white;
    font-weight: $ft__w__medium;
    font-size: $ft__14;
    border-radius: 12px;
    box-shadow: 0px 3px 10px #FE82083D;
  }
}