// COLORS
$pure__white: #fff;
$bg__white: #fbfbfb;
$main__orange: #ff7800;
$main__purple: #4e22d0;
$dark__gray: #363651;
$light__gray: #e0e0e0;
$dark__text__color: #363651;
$darkblue__text__color: #07143b;
$title__text__color: #261c6a;
$subtitle__text__color: #29293d;
$span__text__color: #ababab;
$star__color: #ff7c08;

// FONT FAMILY
$main__font__family: "Rubik";

// FONT SIZES
$ft__11: 11px;
$ft__12: 12px;
$ft__14: 14px;
$ft__15: 15px;
$ft__16: 16px;
$ft__18: 18px;
$ft__19: 19px;
$ft__20: 20px;
$ft__22: 22px;
$ft__28: 28px;

// FONT WEIGHTS
$ft__w__light: 300;
$ft__w__regular: 400;
$ft__w__medium: 500;
$ft__w__semiBold: 600;
$ft__w__bold: 700;
$ft__w__extraBold: 800;
$ft__w__black: 900;
