@import "../../styles/variables.scss";

.res__summary__card__wrapper {
  position: relative;
  .res__summary__card {
    height: 178px;
    border-radius: 12px;
    box-shadow: 0px 6px 15px #7779b20f;
    padding: 23px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $pure__white;
    .res__img__wrapper {
      background-color: $main__orange;
      border-radius: 50%;
      overflow: hidden;
      width: 82px;
      height: 82px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
      .resturant__logo {
        object-position: center;
        object-fit: cover;
      }
    }
    .res__name {
      font-size: $ft__15;
      color: $title__text__color;
      margin-bottom: 6px;
    }
    .res__rate {
      line-height: 0;
      display: inline-flex;
      align-items: center;
      .star__icon {
        color: $star__color;
        margin-right: 4px;
      }
      .rate__value {
        font-size: $ft__12;
        color: $subtitle__text__color;
      }
    }
  }
  .like__btn__wrapper {
    display: block;
    position: absolute;
    right: 5px;
    top: 6px;
    // box-shadow: 0px 4px 20px #f08f2026;
    border-radius: 8px;
    .meal__like__btn {
      all: unset;
      cursor: pointer;
      width: 27px;
      height: 27px;
      display: grid;
      place-items: center;
      background-color: $pure__white;
      border-radius: 8px;
      .like__btn__icon {
        color: red;
        font-size: $ft__20;
      }
    }
  }
}
