@import "../../styles/variables.scss";

.header__modal {

  padding: 20px 24px 20px 40px;
  border-radius: 12px 12px 0px 0px;
  background-color: $dark__text__color;

  .title {

    color: $pure__white;
    font-size: $ft__20;
    font-weight: $ft__w__medium; 
  }
  .close__btn {
    background-color: transparent;
    outline: none;
    border: none;
  }
}