@import "../../styles/variables.scss";

.sign__form__container {
  background-color: $pure__white;

  .Sign__form__content {
    padding: 25px 29px;

    .sign__main {
      padding-bottom: 26px;
      border-bottom: 1px solid rgb(112, 112, 112, .12);

      .sign__title {
        margin-bottom: 6px;
        color: $dark__text__color;
        font-size: $ft__20;
        font-weight: $ft__w__medium;
      }
      .sign__subtitle {
        color: #BDBDBD;
        font-size: 13px;
        font-weight: $ft__w__regular;
      }

      .sign__btns {
        border-radius: 6px;
        overflow: hidden;

        .sign__btn {
          flex: 1;
          height: 42px;
          width: 163px;
          background-color: #E0E0E0;
          color: $dark__text__color;
          font-size: 17px;
          font-weight: $ft__w__medium;
          border: none;
          outline: none;
          border: none;
          transition: .3s ease-in-out;
          &.active {
            background-color: $main__orange;
            color: $pure__white;
          }
        }
      }
    }

    .sign__with {
      padding: 26px 0 44px;

      .sign__with__title {
        color: $dark__text__color;
        font-size: $ft__20;
        font-weight: $ft__w__medium;
      }
      .sign__with__btns{
        border-radius: 6px;
        overflow: hidden;

        .sign__with__btn {
          flex: 1;
          height: 42px;
          width: 163px;
          color: $pure__white;
          font-size: $ft__16;
          font-weight: $ft__w__regular;
          border: none;
          outline: none;
          border: none;
          transition: .3s ease-in-out;
          column-gap: 18px;
          padding-left: 20px;

          &.facebook {
            background-color: #367FC0;
          }
          &.google {
            background-color: #DD4B39;
          }
          .icon__ {
            font-size: 14px;
          }
        }
      }

    }

    .or {
      width: 100%;
      text-align: center;
      font-size: $ft__18;
      font-weight: $ft__w__semiBold;
      color: $dark__text__color;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        background-color: #707070;
        height: 1px;
        opacity: .12;
      }
    }

    .form__sign {
      padding: 32px 0 29px;

      .form__submit__btn {
        background-color: transparent;
        width: 100%;
        text-align: center;
        height: 50px;
        border-radius: 29px;
        color: $main__orange;
        border: 2px solid $main__orange;
        font-size: $ft__14;
        font-weight: $ft__w__medium;
        margin-top: 40px;
      }
    }

    .toggle__sign {
      margin: 0 auto;
      display: block;
      background: transparent;
      border: none;
      outline: none;
      font-size: 14px;
      font-weight: 700;
      color: #160E53;
      display: flex;
      column-gap: 6px;

      .sign__ {
        color: $main__orange;
      }
    }

    .inputs__container {
      padding: 0px 0 0;
      row-gap: 19px;
    }
  }
}