@import "../../styles/variables.scss";

.main__header {
  padding: 30px 0px;
  text-align: right;
  .signup_login__btn {
    display: inline-flex;
    align-items: center;
    color: $main__purple;
    span {
      margin-left: 18px;
      font-style: $ft__16;
      letter-spacing: 0;
    }
  }
  .search__form__container {
    height: 58px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 1000px;
    border: 1px solid #eeeeee;
    background-color: $pure__white;
    .filter_btn {
      all: unset;
      cursor: pointer;
      display: grid;
      place-items: center;
      width: 50px;
      height: 50px;
      background-color: $main__orange;
      border-radius: 50%;
      position: absolute;
      right: 4px;
      top: 2.5px;
    }
  }
  .search__form {
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0.4;
    .search__icon {
      font-size: $ft__22;
      margin-left: 20px;
      margin-right: 10px;
    }
    .search__input__field {
      outline: none;
      border: 0;
      width: 100%;
      font-size: $ft__14;
      padding-right: 4rem;
    }
  }
  .user__actions__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .user__settings_list {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      &::after,
      &::before {
        all: unset;
      }
      .user__avatar__container {
        background-color: $main__purple;
        min-width: 35px;
        height: 35px;
        border-radius: 50%;
        display: grid;
        place-items: center;
      }
      .user__info {
        text-align: left;
        .user__name {
          text-transform: capitalize;
          color: $main__orange;
          font-size: $ft__16;
          font-weight: $ft__w__semiBold;
          max-width: 175px;
        }
        .user__role {
          font-weight: $ft__w__regular;
          opacity: 0.7;
        }
      }
    }
  }
}
.dropdown {
  padding: 0 !important;
  border: none !important;
}
.icon__span {
  pointer-events: none;
}
.dropdown__icon {
  top: 71%;
  transform: rotate(180deg);
  height: 44px;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}