.mealSlider {

  .mealCard {
    padding: 15px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 18px;
    cursor: pointer;
    background-color: #FFF;
    border: 1px solid #EEEEEE;
    

    .card__text {
      height: 110px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
    }

    h3 {
      font-size: 18px;
      font-weight: 500;
      color: #261C6A;
      margin-bottom: 6px;
    }

    p {
      font-size: 12px;
      font-weight: 500;
      color: #29293D;
    }

    .footerCard {
      &>span {
        font-size: 12px;
        color: #ABABAB;
        display: block;
        margin-bottom: 6px;
      }

      .rating__duration {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 15px;
        font-size: 12px;
        color: #261C6A;
        
        svg {
          margin-right: 4px;
        }
      }
    }

    .card__image {
      width: 110px;
      height: 110px;
      position: relative;
      border-radius: 8px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      .heart {
        position: absolute;
        top: 6px;
        right: 6px;
        width: 27px;
        height: 27px;
        box-shadow: 0px 4px 20px #F08F2026;
        background-color: #FFF;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}