@import "../../styles/variables.scss";

.sidebar {
  z-index: 10;
  position: fixed;
  width: 70px;
  min-height: 100%;
  background-color: $pure__white;
  text-align: center;
  .pick_a__logo {
    margin-top: 24px;
    margin-bottom: 70px;
  }
  .sidebar__nav__links {
    height: 175px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .sidebar__nav__link {
      display: flex;
      align-items: center;
      font-weight: $ft__w__semiBold;
      color: $main__purple;
      background-color: $pure__white;
      width: 0px;
      border-radius: 4px;
      margin-left: 20px;
      height: 35px;
      transition: all ease-out 0.3s;
      span {
        text-transform: capitalize;
        text-align: center;
        width: 100%;
        visibility: hidden;
      }
      &:hover {
        width: 180px;
        span {
          visibility: visible;
        }
      }
    }
  }
}
