.restaurantsSlider {
  
  overflow: visible !important;

  .restaurant__Card {
    border-radius: 12px;
    background-color: #FFF;
    padding: 24px 36px;
    box-shadow: 0px 6px 15px #7779B20F;
    position: relative;
    text-align: center;
    cursor: pointer;

    &.new {
      border: 3px solid #FE0808;
    }

    &.discount {
      border: 3px solid #FE8208;
    }

    &.default__Card {
      padding: 24px 20px 10px; 
      img {
        width: 104px;
        height: 104px;
        margin-bottom: 22px;
      }
    }

    .dicount__tag,
    .tag {
      position: absolute;
      top: 0;
      left: -2px;
      color: #FFF;
      background-color: #FE0808;
      box-shadow: 0px 4px 20px #F08F2026;
      border-radius: 12px;
      transform: translateY(-50%);
      width: 50px;
      height: 27px;
      text-align: center;
      line-height: 27px;
      font-size: 15px;
      font-weight: 500;

    }

    .dicount__tag {
      background-color: #FE8208;
    }

    .closed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #00000059 ;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
      font-weight: 700;
      font-size: 18px;
      backdrop-filter: blur(3px);
      border-radius: 12px;
    }

    img {
      border-radius: 50%;
      width: 82px;
      height: 82px;
      display: block;
      margin: 0 auto;
      margin-bottom: 12px;
    }

    p {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 6px;
      color: #261C6A;
    }

    & > span {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #969696;
      font-size: 11px;
      column-gap: 10px;
      margin-bottom: 27px;
    }

    .rating {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 4px;
      font-size: 12px;
      font-weight: 500;
      color: #29293D;

      &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 4px;
      }

      &.rating__duration {
        justify-content: space-between;
        color: #363651;
      }
    }
  }

}