@import "../../styles/variables.scss";

.forget__pass__content {
  row-gap: 30px;
  padding: 54px 30px 37px;
  background-color: $pure__white;
  border-radius: 0 0 12px 12px;

  .submit__btn {
    height: 50px;
    background-color: transparent;
    border: 2px solid $main__orange;
    color: $main__orange;
    font-size: $ft__14;
    font-weight: $ft__w__medium;
    border-radius: 29px;
  }
}