@import "../../styles/variables.scss";

.radio__container {

  column-gap: 10px;

  .input {
    & + .active,
    &:checked + .input__check {
      background-color: #FFBF80;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $main__orange;
      }
    }
  }
  .input__check {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #E0E0E0;
    cursor: pointer;
  }
  .label {
    cursor: pointer;
    font-size: $ft__14;
    font-weight: $ft__w__regular;
    color: $dark__text__color;
  }
}