@import "../styles/variables.scss";

.main__layout {
  background-color: $bg__white;
  // background-color: red;
  .app__main__container {
    margin-left: 70px;
    // background-color: yellow;
    .app__container {
      z-index: 1;
      // background-color: green;
      padding-top: 116px;
      padding-bottom: 70px;
      margin: auto;
      max-width: 1920px;
      // min-height: 100vh;
    }
  }
}

// MEDIA QUERIES
@media screen and (max-width: 768px) {
  .main__layout {
    .app__main__container {
      margin-left: 0px;
      .app__container {
        padding-bottom: 0;
        padding-top: 80px;
      }
    }
  }
}
